/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex mono", monospace;
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --header-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --color: #353430;
  --color: #ffc2e6;
  --regular-font-size: 18px;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --main-gap: 10px;
  --main-line-height: 23.4px;
}
