/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: "IBM Plex mono", monospace;
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 122/ 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --main-gap: 10px;
  --main-text-size: 18px;
  --main-line-height: 23.4px;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --card-gap: 50px;
}
